[Unit]
Description=Alertmanager
Wants=network-online.target
After=network-online.target

[Service]
User={{ alertmanager_user }}
Group={{ alertmanager_group }}
Type=simple
ExecStart=/usr/local/bin/alertmanager \
    --config.file={{ alertmanager_config_file }} \
    --storage.path={{ alertmanager_data_dir }} \
    --web.listen-address=0.0.0.0:{{ alertmanager_port }}

[Install]
WantedBy=multi-user.target

